@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-in-quint:  cubic-bezier(0.64, 1, 0.78, 1);
	--ease-out-expo:  cubic-bezier(0.19, 1, 0.22, 1);
	--ease-in-expo:   cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-out-log:   cubic-bezier(0.16, 1, 0.3, 1);
	--ease-in-log:    cubic-bezier(0.7, 0, 0.84, 0)
}

* {
    font-family: 'SF Pro Display', 'SF Pro Text', sans-serif;    
}

h1 {
    line-height: 1.25;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SF-Pro-Text-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SF-Pro-Text-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.link {
    transform: skewX(0deg);
    transition: all 0.1s var(--ease-out-quint);
}

.link:hover {
    transform: skewX(-10deg);
    transition: all 0.1s var(--ease-out-quint);
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 1s infinite;
    animation-timing-function: var(--ease-out-log);
    font-weight: 100;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
